* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

hr {
  padding: 0;
  margin: 0;
}
h3 {
  padding: 0;
  margin: 0;
}

ul{
  margin: 0;
}

.resume {
  background-color: #3A506B;
  max-width: 800px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px;
  color: #FFFFFF;
  border: 5px solid #FFFFFF;
}

.b {
  font-weight: bold;
}

body {
  display: flex;
  align-items: center;
  background-color: #5BC0BE;
  flex-direction: column;
}

.last {
  margin-bottom: 40px;
}

a {
  color: #5BC0BE;
}


.count-span {
  font-weight: bold;
}

#visitor-count {
  margin-bottom: 20px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;

}